<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wechat</title>
</head>
<body>
    <h1>个人信息</h1>
    <div>
        <img src="https://wx.qq.com{{data.User.HeadImgUrl}}"/>
    </div>
    <div>
        {{data.User.NickName}} - {{data.User.UserName}}
    </div>
    <h1>最近联系人列表</h1>
    <ul>
        {% for row in data.ContactList%}
            <li>{{row.UserName}}-{{row.NickName}}</li>
        {% endfor %}
    </ul>
    <a href="/contact_list">更多联系人</a>
    <h1>公众号</h1><ul>
    {% for row in data.MPSubscribeMsgList%}
        <div style="font-weight: bolder">{{row.NickName}}</div>
        {% for i in row.MPArticleList %}
            <div>
                <div><a href="{{i.Url}}">{{i.Title}}</a></div>
                <div style="color: #dddddd">{{i.Digest}}</div>
            </div>
        {% endfor %}
    {% endfor %}
    {{data}}

</body>
</html>